*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 1440px;
    height: 875px;
}

header{
    display: flex;
}

#logo{
    height: 44px;
    width: 253px;
    margin-top: 42px;
    margin-left: 104px;
}

header form input{
    position: relative;
    height: 60px;
    width: 559px;
    margin-top: 34px;
    margin-left: 27px;
    background-color: #47474710;
    padding-left: 20px;
    border-radius: 8px;
    background-image: url(imagens/Search.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 519px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
}

#cadastre-se{
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 48px;
    color: #474747;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

header button{
    width: 114px;
    height: 40px;
    font-size: 14px;
    color: #f5f5f5;
    background-color: #c92071;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 44px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.75px;
}

#carrinho{
    width: 24px;
    height: 24px;
    margin-top: 52px;
    margin-left: 70px;
    cursor: pointer;
}

#quantidade{
    font-size: 12px;
    line-height: 18px;
    background-color: #ee4266;
    color: #f5f5f5;
    width: 17px;
    height: 17px;
    border-radius: 25px;
    font-weight: 700;
    text-align: center;
    margin: 47px -7px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    gap: 32px;
    padding-top: 50px;
    color: #474747;
    letter-spacing: 0.75px;
}

#underhome{
    display: flex;
    align-items: end;
    flex-direction: column;
}

#underhome span{
    font-weight: 700;
    padding-left: 100px;
    color:#c92071;
    cursor: pointer;
}

#underhome img{
    width: 49px;
    height: 2px;
    margin-top: 5px;
}

nav p{
    margin-bottom: 5px;
}

article h2{
    color: #474747;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 24px;
}

#cards_colecoes{
    display:flex;
    gap: 12px;
}

article > #cards_colecoes{
    padding-left: 100px;
}

.cards_destaque{
    display: flex;
    background-color: #d8e3f2;
    width: 405px;
    height: 251px;
    border-radius: 8px;
    margin-top: 20px;
}

.cards_destaque .texto_cards_destaque{
    display: flex;
    flex-direction: column;
}

.cards_destaque .texto_cards_destaque p{
    display: flex;
    height: 32px;
    width: 96px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    background-color: #e7ff86;
    border-radius: 29px;
    padding: 5px 15px;
    margin: 34px 30px;
}

.cards_destaque .texto_cards_destaque h1{
    font-size: 32px;
    font-weight: 700;
    margin-top: -27px;
    margin-left: 30px;
    margin-right: -40px;
}

.cards_destaque .texto_cards_destaque button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 153px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #c92071;
    border-radius: 5px;
    margin-top: 168px;
    margin-left: 30px;
    cursor: pointer;
}