@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do cabeçalho */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 42px;
    background: #FFF;
}

.cabecalho-imagem {
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.cabecalho-digital-store {
    color: #C92071;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.364px;
    padding-left: 5px;
}

.cabecalho-pesquisar {
    width: 559px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #47474710;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    opacity: 0.6;
    margin-left: 27px;
    padding-right: 45px;
}

.cabecalho-imagem-pesquisar {
    position: absolute;
    margin-left: 800px;
    cursor: pointer;
}

.cabecalho-cadastre-se {
    color: #474747;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: 64px;
}

.cabecalho-entrar {
    width: 114px;
    height: 40px;
    flex-shrink: 0;
    background-color: #C92071;
    color: #F5F5F5;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-left: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.cabecalho-carrinho {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 70px;
    cursor: pointer;
}

.cabecalho-carrinho-contador {
    position: absolute;
    width: 15px;
    height: 15px;
    align-content: center;
    background-color: #EE4266;
    border-radius: 50%;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    padding-left: 4px;
    right: 60px;
    top: 55px;
}

.cabecalho-menu {
    background: #FFF;
    padding: 42px;
    padding-top: 0px;
}

.cabecalho-menu-item {
    display: flexbox;
    flex-direction: row;
    padding: 10px;
    color: #474747;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.cabecalho-menu-item:hover {
    color: #C92071;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    border-bottom: 2px solid #C92071;
    cursor: pointer;
}

/* Estilo do corpo */


/* Estilo da seção de melhores ofertas */

.conteudo-carrossel {
    padding: 42px;
    padding-top: 100px;
    display: flex;
    background: #F5F5F5;
}

.conteudo-carrossel-escrito-melhores-ofertas {
    color: #F6AA1C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.conteudo-carrossel-escrito-queima-estoque {
    padding-top: 20px;
    width: 510px;
    height: 132px;
    flex-shrink: 0;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 1px;
}

.conteudo-carrossel-escrito-loren {
    padding-top: 40px;
    width: 495px;
    color: #474747;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.75px;
}

.conteudo-carrossel-ver-ofertas {
    width: 220px;
    height: 48px;
    background-color: #C92071;
    color: #F5F5F5;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
}

.conteudo-carrossel-tenis {
    width: 733.506px;
    height: 431.606px;
    flex-shrink: 0;
}

.conteudo-carrossel-ornamento {
    width: 140px;
    height: 140px;
    padding-left: 20px;
    position: absolute;
    right: 100px;
}

.conteudo-carrossel-elipse {
    width: 78px;
    height: 12px;
    display: block;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 30px;
}

/* Estilo da seção de coleções em destaque */

.secao-colecoes-em-destaque {
    background: #F9F8FE;
}

.conteudo-colecoes-em-destaque-titulo {
    color: #474747;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.75px;
    padding: 42px;
    padding-top: 30px;
}

.conteudo-colecoes-em-destaque {
    display: flex;
    flex-direction: row;
    padding: 42px;
    padding-top: 0px;
}

.conteudo-colecoes-em-destaque-box {
    width: 405px;
    height: 251px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D8E3F2;
    position: relative;
}

.conteudo-colecoes-em-destaque-titulo-desconto {
    color: #474747;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 29px;
    background: #E7FF86;
    margin-top: 34px;
    margin-left: 30px;
}

.conteudo-colecoes-em-destaque-titulo-produto {
    width: 200px;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 20px;
}

.conteudo-colecoes-em-destaque-botao {
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    width: 153px;
    height: 48px;
    justify-content: center;
    flex-shrink: 0;
    color: #C92071;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.conteudo-colecoes-em-destaque-titulo-imagem {
    width: 250px;
    height: 236px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}